<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
       <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script
src="http://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

</head>
<body>
    <!-- s<button id="mybutton">Show Products</button> -->
    <table id="Show" border="2">
       <thead>
            <tr>Name</tr>
            <tr>Description</tr>
            <tr>price</tr>
       </thead>

       <!-- <tfoot>
            <tr>Name</tr>
            <tr>Description</tr>
            <tr>price</tr>
       </tfoot> -->
    </table>
    <script>
        var myData
        $.ajax({type:"GET",
                    url:"/api/Products",
                    success: function(result){
                        myData = result
                        console.log("abc")
                        console.log(myData)
                        if(myData!= null || myData != ""){
                            table= $('#Show').DataTable({
                                data:myData,destroy:true,
                                columns:[
                                    {data:'name'},
                                    {data:'description'},
                                    {data:'price'}
                                ]
                            })
                        }
                    }})
</script>
    <!-- <script>
            var myData
            $(document).on('click','#mybutton',function(e)
            {
                console.log("Ok");
                    $.ajax({type:"GET",
                        url:"/api/Products",
                        success: function(result){
                            myData = result
                            console.log("abc")
                            console.log(myData)
                            if(myData!= null || myData != ""){
                                table= $('#Show').DataTable({
                                    data:myData,destroy:true,
                                    columns:[
                                        {data:'name'},
                                        {data:'description'},
                                        {data:'price'}
                                    ]
                                })
                            }
                        }})
            })
    </script> -->
     <!-- var myData
        $(document.body).on('click',"#mybutton",function (e) {
           //doStuff
            console.log("hello")
                 $.ajax({type:"GET",
                     url:"/api/contacts",
                     success: function(result){
                         myData = result
                         console.log(myData)
                         if(myData !=null || myData !=""){
                            table = $('#show').DataTable( {
                                data: myData ,destroy: true,
                                columns: [
                                    { data: 'name' },
                                    { data: 'mobile' },
                                    { data: 'phone' },
                                    { data: 'city' },
                                    { data: 'web' },
                                    { data: 'insta' },
                                    { data: 'fb' },

                                ]
                            } );
                        }

                  }});
        }); -->
</body>
</html>